<h2>Contacts</h2>
<div class="row contactsCol">
	<div class="col-md-6">
		<h4>
			Henry Ott - Co founder, 2F Artist, Mastering Engineer<br>
			<a href="mailto:henryott93@gmail.com">henryott93@gmail.com</a>
		</h4>
		<br>
		<h4>
			Mike Hickey - Co-founder, 2F Artist, Sound Engineer <br>
			<a href="mailto:mfh273@nyu.edu">mfh273@nyu.edu</a>
		</h4>
		<br>
		<h4>
			Nick Fraser- Co-founder, 2F Artist, DJ, Sound Engineer<br>
			<a href="mailto:nickfraser40@gmail.com">nickfraser40@gmail.com</a>
		</h4>
		<br>
		<h4>
			BXTR - Co-founder, 2F Artist, Sound Engineer<br>
			<a href="mailto:jacobrbaxter@gmail.com">jacobrbaxter@gmail.com</a>
		</h4>
		<br>
		<h4>
			Steve Conroy - Bass<br>
			<a href="mailto:stevensconroy@gmail.com">stevensconroy@gmail.com</a>
		</h4>
		<br>
		<h4>
			spctra - 2F Artist<br>
			<a href="mailto:wanton.domingo@gmail.com">wanton.domingo@gmail.com</a>
		</h4>
		<br>
		<h4>
			umbrellatop - 2F Artist<br>
			<a href="mailto:ianarnold22@gmail.com">ianarnold22@gmail.com</a>
		</h4>
		<br>
		<h4>
			Moon Tann - 2F Artist<br>
			<a href="mailto:dexterfreeburg@gmail.com">dexterfreeburg@gmail.com</a>
		</h4>
	</div>
	<div class="col-md-6">
		<h4>
			Sleepy James -  2F Artist<br>
			<a href="mailto:james.farrell@coloradocollege.edu">james.farrell@coloradocollege.edu</a>
		</h4>
		<br>
		<h4>
			Francesca Loeber - Vocals <br>
			<a href="mailto:jfloeber14@gmail.com">floeber14@gmail.com</a>
		</h4>
		<br>
		<h4>
			Tyriek FREE - Rapper, 2F Artist<br>
			<a href="mailto:tyriek.white@gmail.com">tyriek.white@gmail.com</a>
		</h4>
		<br>
		<h4>
			Morgan Sitzler - Visual Art, Design<br>
			<a href="mailto:morgans575@gmail.com">morgans575@gmail.com</a>
		</h4>
		<br>
		<h4>
			Sarah Sitzler - Music Videos<br>
			<a href="mailto:sarah.liz.sitzler@gmail.com">sarah.liz.sitzler@gmail.com</a>
		</h4>
		<br>
		<h4>
			Aviv Goldgeier - Web Design<br>
			<a href="mailto:aviv.goldgeier@gmail.com">aviv.goldgeier@gmail.com</a>
		</h4>
		<br>
		<h4>
			Devin Visslailli - Web Design<br>
			<a href="mailto:devin.viss@gmail.com">devin.viss@gmail.com</a>
		</h4>
	</div>
</div>