Henry Ott - Co founder, 2F Artist, Mastering Engineer     
	henryott93@gmail.com
Mike Hickey - Co-founder, 2F Artist, Sound Engineer        
	mfh273@nyu.edu
Nick Fraser- Co-founder, 2F Artist, DJ, Sound Engineer  
	nickfraser40@gmail.com
BXTR - Co-founder, 2F Artist, Sound Engineer                
	jacobrbaxter@gmail.com
Steve Conroy - Bass
	stevensconroy@gmail.com
spctra - 2F Artist
    wanton.domingo@gmail.com
umbrellatop - 2F Artist
    ianarnold22@gmail.com
Moon Tann - 2F Artist                                 
	dexterfreeburg@gmail.com
Sleepy James -  2F Artist                                                 
	james.farrell@coloradocollege.edu
Francesca Loeber - vocals
Tyriek FREE - rapper, 2F Artist                                   
	tyriek.white@gmail.com
Morgan Sitzler - visual art, design                                        
	morgans575@gmail.com
Sarah Sitzler - music videos                                               
	sarah.liz.sitzler@gmail.com
Aviv Goldgeier - web design
	aviv.goldgeier@gmail.com
Devin Visslailli - web design
	devin.viss@nyu.edu