<!-- Jumbotron Header -->
<div class="row">
  <img id="biopic" src="img/biopic.png" class="col-md-6">

  <div id="bio-text" class="col-md-6">
<p class="lead">Hello.</p>

<p>My name is Aviv. I am a musician, music technologist, and data scientist based out of New York City. I received my Bachelor’s in Music Technology from NYU in May 2016 with an honors minor in Computer Science. While there, I spent the last couple years engaged in research involving Digital Signal Processing, Machine Learning, and Music Information Retrieval. I am currently employed as a Junior Growth Engineer at <a href="https://hinge.co/">Hinge</a>.<br>
<a href="#!/projects">Read about my projects here >>></a><br>
<a href="#!/cv">Take a look at my r&eacute;sum&eacute; here >>></a></p>

<p>Aside from techy things, I am a pianist and songwriter. I have performed chamber music in palaces, jazz in yacht clubs, reggae in forests, and experimental polyrhythmic R&amp;B on Brooklyn rooftops.<br>
<a href="#!/music">Listen to my music here >>></a></p>

<p>Contact me at <a href="mailto:aviv.goldgeier@gmail.com" target="_top">aviv.goldgeier@gmail.com</a> to say hi!</p>

  <div>
</div>


</div>