<h3> Projects </h3>

<div class="row">
  <div class="col-md-4 project-pic" ng-repeat="project in projects">
    <a ng-href="{{makeLink(project.title)}}">
      <div class="bg-pic">
        <img ng-src="{{project.pic}}" style="width: 100%">
        <div class="pic-mask">
          <div class="mask-text">
            <div class="project-title">
              {{project.title}}
            </div>
            <div class="project-subtitle">
              {{project.subtitle}}
            </div>
            <div class="project-button-box">
              <div ng-hide="project.isReady" class="coming-soon">
                &ensp;coming soon&ensp;
              </div>
              <div ng-show="project.isReady" class="coming-soon">
                &ensp;check it out >>>&ensp;
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>