<a ng-init='init("cliche rater")' href="/#!/projects" id="back-to-projects">&lt;&lt;&lt; back to projects</a>

<div class="blog-header">
	<div class="blog-header-text">
		<h1>{{project.title}}</h1>
		<h2>{{project.subtitle}}</h2>
	</div>
</div>

<div class="lyric-input-and-results col-sm-9 col-sm-offset-1 col-xs-12" ng-controller="ClicheCtrl">
	<div class="lyric-input col-sm-6">
		<form novalidate class="simple-form">
			<textarea class="form-control" rows="12" ng-model="lyrics" placeholder="Paste lyrics here!"></textarea><br>
			<input type="submit" ng-click="rate(lyrics)" /><br>
		</form>
	</div>
	<div class="lyric-results col-sm-6">
		<canvas id="canvas"></canvas>
		<div id="result-message">{{result_message}}</div>
	</div>
</div>