<a ng-init='init("learning your tastes")' href="/#/projects" id="back-to-projects">&lt;&lt;&lt; back to projects</a>

<div class="blog-header">
	<div class="blog-header-text">
		<h1>{{project.title}}</h1>
		<h2>{{project.subtitle}}</h2>
	</div>
</div>

<br>
<br>
<h4 style="text-align: center"><a href="https://tech.iheart.com/mapping-the-world-of-music-using-machine-learning-part-2-aa50b6a0304c#.f8z4pr7o3" target="_blank">Click through to read my colleague Tim's write-up of this project!</a></h4>
<br>
<br>