<h1 ng-init='init("BXTR")'> {{name}} </h1>
<div class="row">
	<div class="col-xs-6">
		<artistheader></artistheader>
		<script type='text/javascript' src='http://widget.bandsintown.com/javascripts/bit_widget.js'></script>
		<a href="http://www.bandsintown.com/BXTR" class="bit-widget-initializer" data-artist="BXTR">BXTR Tour Dates</a>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-12">
			<ul class="nav nav-pills">
				<li ng-class="{ active:isSet(1) }">
			    	<a ng-click="setTab(1)">Recent Tracks</a>
			    </li>	    		
			    <li ng-class="{ active:isSet(2) }">
			    	<a ng-click="setTab(2)">The River Looks Beautiful</a>
			  	</li>
				<li ng-class="{ active:isSet(3) }">
			    	<a ng-click="setTab(3)">Beat Tape 1</a>
			    </li>
			  </ul>
			<div ng-show="isSet(1)">
				<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/123130556&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
			</div>
			<div ng-show="isSet(2)">
				<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/12917488&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
				<a href="https://2fcollective.bandcamp.com/album/the-river-looks-beautiful" class="btn btn-primary btn-default">Download</a>
			</div>
			<div ng-show="isSet(3)">
				<iframe ng-show="isSet(3)" width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/32445337&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
				<!-- <a href="#" class="btn btn-primary btn-default">Download</a> -->
			</div>
		</div>	
	</div>
</div>